/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer {
  min-height: 360px;
  color: #fff;
  background: $deeper-blue;
}
