/* ==========================================================================
   Menus
   ========================================================================== */

.genesis-nav-menu {
}

.menu-primary {
  min-height: 100px;
  line-height: 2.5;

  .menu-item {
    text-transform: lowercase;

    a {
      color: $nav-color;
      font-weight: 500;
    }

    a:hover {
      color: $nav-color-hover !important;
      background-color: $nav-bg-hover;
    }
  }

  .current_page_item {

    a {
      color: $current-page-color !important;
      background-color: $current-page-bg;
    }
  }
}
