/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure
$pageWidth: 1200px;

// Text Selection
$selectionColor: red;

// Colors
$red: red;
$blue: blue;


// TasukuForce
/////////////////////////////////

// Colors
$deep-blue: #3f5669;
$deeper-blue: #273947;
$light-gray: #f6f6f6;

// Header
$background-color: $deep-blue;

// Header Nav
$nav-bg: transparent;
$nav-bg-hover: #4c667b;
$nav-color: #fff;
$nav-color-hover: #fff;
$current-page-color: $deep-blue;
$current-page-bg: #fff;

$site-inner-background: #fff;
