/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure
$pageWidth: 1200px;

// Text Selection
$selectionColor: red;

// Colors
$red: red;
$blue: blue;


// TasukuForce
$deep-blue: #3f5669;

$site-inner-background: #fff;
