/* ## Forms
--------------------------------------------- */
input, select, textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  font-size: 18px;
  font-weight: 300;
  padding: 16px;
  width: 100%;
}

input:focus, textarea:focus {
  border: 1px solid #999;
  outline: none;
}

input {
  &[type="checkbox"], &[type="image"], &[type="radio"] {
    width: auto;
  }
}

::-moz-placeholder {
  color: #333;
  font-weight: 300;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #333;
  font-weight: 300;
}

button {
  background-color: #333;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  padding: 16px 24px;
  text-transform: uppercase;
  width: auto;
}

input {
  &[type="button"], &[type="reset"], &[type="submit"] {
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    padding: 16px 24px;
    text-transform: uppercase;
    width: auto;
  }
}

.button {
  background-color: #333;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  padding: 16px 24px;
  text-transform: uppercase;
  width: auto;
}

.footer-widgets {
  button {
    background-color: #e5554e;
    color: #fff;
  }
  input {
    &[type="button"], &[type="reset"], &[type="submit"] {
      background-color: #e5554e;
      color: #fff;
    }
  }
  .button {
    background-color: #e5554e;
    color: #fff;
  }
}

button:hover {
  background-color: #e5554e;
  color: #fff;
}

input:hover {
  &[type="button"], &[type="reset"], &[type="submit"] {
    background-color: #e5554e;
    color: #fff;
  }
}

.button:hover {
  background-color: #e5554e;
  color: #fff;
}

.entry-content .button:hover {
  color: #fff;
}

.footer-widgets {
  button:hover {
    background-color: #fff;
    color: #333;
  }
  input:hover {
    &[type="button"], &[type="reset"], &[type="submit"] {
      background-color: #fff;
      color: #333;
    }
  }
  .button:hover {
    background-color: #fff;
    color: #333;
  }
}

.button {
  display: inline-block;
}

input[type="search"] {
  &::-webkit-search-cancel-button, &::-webkit-search-results-button {
    display: none;
  }
}
